<template name="header">
    <h1>AppWall</h1>
</template>

<template name="form">
    <form class="add-new-task">
        <input type="text" />
        <input type="text" />
        <input type="file" />
        <button class="waves-effect waves-light btn">Submit</button>
    </form>
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}
        <div class="grid-item">
            {{updateMasonry}}
            <img src="{{this.url}}"> {{this.name}} {{this.message}}
            <!--whynot-->
        </div>
        {{/each}}
    </div>
</template>